.datos_filiacion
    width: 90%
    border-radius: 10px
    display: grid
    grid-template-columns: 1fr 1fr
    gap:10px
    .dato_filiacion
        background: #f4f4f4 
        width: 95%
        padding: 15px
        border-radius: 15px
        margin-bottom: 15px
        p
            padding-bottom: 10px

.fila
    display: grid
    grid-template-columns: repeat(2,1fr)
    justify-content: space-between
    width: 100%
    margin-bottom: 5px
    .primero
        width: 161%
        label
            font-weight: bold
    .segundo
        width: 60%
        margin-left: 40%
        label
            font-weight: bold

.fila2
    display: grid
    grid-template-columns: repeat(3,1fr)
    width: 100%
    margin-bottom: 5px
    .primero
        width: 150%
        label
            font-weight: bold
    .segundo
        width: 73%
        margin-left: 35%
        label
            font-weight: bold
    .tercero
        width: 90%
        margin-left: 10%
        label
            font-weight: bold

.fila3
    display: grid
    grid-template-columns: repeat(3,1fr)
    width: 100%
    margin-bottom: 5px
    .primero
        width: 150%
        label
            font-weight: bold
    .segundo
        width: 73%
        margin-left: 35%
        label
            font-weight: bold
    .tercero
        width: 90%
        margin-left: 10%
        label
            font-weight: bold